.banner{
  color:white;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
    h1{
      text-align: center;
    }
}
